*.o
*.so
*.a
*.dylib
/src/wcslib/C/fitshdr.c
/src/wcslib/C/libwcs.so.*
/src/wcslib/C/wcsbth.c
/src/wcslib/C/wcspih.c
/src/wcslib/C/wcsulex.c
/src/wcslib/C/wcsutrn.c
/src/wcslib/config.log
/src/wcslib/config.status
/src/wcslib/makedefs
/src/wcslib/wcsconfig.h
/src/wcslib/wcsconfig_f77.h
/src/wcslib/wcsconfig_tests.h
/src/wcslib/wcsconfig_utils.h
/src/wcslib/wcslib.pc

.DS_Store
/src/.DS_Store
/src/wcslib/.DS_Store
/src/wcslib/C/.DS_Store

wcslib.Rproj
.Rproj.user
.Rhistory

src/wcslib/C_old6p4/