#exportPattern("^[[:alpha:]]+")

export(Rwcs_s2p)
export(Rwcs_p2s)
export(Cwcs_s2p)
export(Cwcs_p2s)

useDynLib(Rwcs, .registration=TRUE)

import(Rcpp)
import(checkmate)

importFrom(celestial, hms2deg, dms2deg, deg2hms, deg2dms)
