#exportPattern("^[[:alpha:]]+")

export(Rwcs_s2p)
export(Rwcs_p2s)
export(Rwcs_keypass)
export(Rwcs_pixscale)
export(Rwcs_in_domain)
export(Rwcs_setscreen)

export(Cwcs_s2p)
export(Cwcs_p2s)
export(Cwcs_head_p2s)
export(Cwcs_head_s2p)

export(Rwcs_image)
export(Rwcs_imageRGB)
export(Rwcs_grid)
export(Rwcs_labels)
export(Rwcs_compass)

export(Rwcs_warp)
export(Rwcs_rebin)

useDynLib(Rwcs, .registration=TRUE)

import(Rcpp)
import(checkmate)
import(magicaxis)

importFrom(celestial, hms2deg, dms2deg, deg2hms, deg2dms)
importFrom("graphics", "arrows", "axis", "box", "lines", "mtext",
               "par", "text", "image")
