#exportPattern("^[[:alpha:]]+")

export(Rwcs_s2p)
export(Rwcs_p2s)
export(Rwcs_keypass)
export(Rwcs_pixscale)
export(Rwcs_in_image)
export(Rwcs_overlap)
export(Rwcs_setscreen)

export(Cwcs_s2p)
export(Cwcs_p2s)
export(Cwcs_head_p2s)
export(Cwcs_head_s2p)

export(Rwcs_image)
export(Rwcs_imageRGB)
export(Rwcs_grid)
export(Rwcs_labels)
export(Rwcs_compass)

export(Rwcs_warp)
export(Rwcs_rebin)
export(Rwcs_stack)
export(Rwcs_tweak)
export(Rwcs_tran)
export(Rwcs_warp_promo)

export(Rwcs_in_poly)
export(Rwcs_overlap_poly)

useDynLib(Rwcs, .registration=TRUE)

import("Rcpp")
import("checkmate")
import("magicaxis")
import("foreach")
import("doParallel")

importFrom(celestial, hms2deg, dms2deg, deg2hms, deg2dms)
importFrom("graphics", "arrows", "axis", "box", "lines", "mtext",
               "par", "text", "image", "points", "polygon", "rect")
importFrom("grDevices", "hsv")
importFrom("stats", "median", "optim", "quantile")
importFrom("utils", "packageVersion")
importFrom("doParallel", 'registerDoParallel')
